# Functions

In [2]:
def calculate_gst(amount,rate):
    gst = amount * (rate/1000)
    return gst

#### Returning Multiple Values

In [ ]:
def calculate_gst(amount,rate):
    gst = amount * (rate/100)
    final_amount = amount + gst
    return gst, final_amount

In [4]:
calculate_gst(1000,5)

(50.0, 1050.0)

#### Passing Default Value

In [5]:
def calculate_gst(amount,rate = 10):
    gst = amount * (rate/100)
    final_amount = amount + gst
    return gst,final_amount

In [6]:
calculate_gst(1000,5)

(50.0, 1050.0)

In [ ]:
calculate_gst(1000) # took DFefault Value

(100.0, 1100.0)

### Problem: Find the First Repeating Element in a List:

In [9]:
my_list = [1,2,3,2,1,5,8,5]
returning_list = []
for i in my_list:
    if i not in returning_list:
        returning_list.append(i)
    else:
        print(f'{i}')
        break

2

In [11]:
def first_repeat(x):
    returning_list = []
    for i in x:
        if i not in returning_list:
            returning_list.append(i)
        else:
            print(f'{i}')
            break

## arbitrary argument

In [15]:
def add(*args):
    tv = 0 
    for num in args:
        tv = tv + num
    return tv

In [16]:
add(1,2,3)

6

In [ ]:
def add(*args):
    tv = 0 
    for num in args:
        tv = tv + num
    return tv

### Build a user profile:

In [33]:
def create_profile(**kwargs):
    profile = {}
    for key,value in kwargs.items():
        profile.setdefault(key,[]).append(value)
    return profile

In [34]:
user = create_profile(name = "ankit", age = 30,city = "Bangalore")
user

{'name': ['ankit'], 'age': [30], 'city': ['Bangalore']}

In [35]:
#User function Template for python3


class Solution:
    def modify(self, s):
        for i in s:
            if i.islower():
                s.lower()
            else:
                s.uper()
        return s

In [40]:
student = { "Ronu": ['SST','Science'],"Vikky":['Pol','Algebra']}
student

{'Ronu': ['SST', 'Science'], 'Vikky': ['Pol', 'Algebra']}

In [41]:
a = [1,2,3,4,56,12,2,4]
a

[1, 2, 3, 4, 56, 12, 2, 4]

In [42]:
a = (1,2,3,4,56,12,2,4)
a

(1, 2, 3, 4, 56, 12, 2, 4)

In [43]:
a = {1,2,3,4,56,12,2,4}
a

{1, 2, 3, 4, 12, 56}

In [44]:
type(a)

set

In [47]:
student = { "Ronu": ['SST','Science'],"Vikky":['Pol','Algebra','Pol','Algebra']}
student

{'Ronu': ['SST', 'Science'], 'Vikky': ['Pol', 'Algebra', 'Pol', 'Algebra']}

In [50]:
list(set(student["Vikky"]))

['Pol', 'Algebra']

In [ ]:
for  i,j in student.items():
    unique_sub = []
    for k in range(0,len(j)+1):
        if i[j]

['SST', 'Science']
['Pol', 'Algebra', 'Pol', 'Algebra']

In [57]:
details = {
  'Ankit': ('Python',),
  'Riya': ('Python', 'Tableau'),
  'Soham': ('SQL', 'Power BI'),
  'Neha': ('Python', 'SQL', 'Power BI')
}

In [58]:
details

{'Ankit': ('Python',),
 'Riya': ('Python', 'Tableau'),
 'Soham': ('SQL', 'Power BI'),
 'Neha': ('Python', 'SQL', 'Power BI')}

In [70]:
for i,j in details.items():
    details[i] = list(j)

l = []
for i,j in details.items():
    l.extend(j)

s = set(l)
s

{'Power BI', 'Python', 'SQL', 'Tableau'}

In [71]:
a = {'Power BI', 'Python', 'SQL', 'Tableau'}

In [72]:
b = tuple(a)