# 1- write a function to find the median of the numbers in a list of numbers unsorted.

In [20]:
def median_list(l):
    new_list = sorted(l)
    div = len(new_list) // 2
    if len(new_list) % 2 == 0:
        med = (new_list[div-1] + new_list[div])/2
        return med
    else:
        med = new_list[div]
        return med

In [ ]:
# Check with odd:
a = [1,2,3,5,8,6,9,7]
median_list(a)

5.5

In [ ]:
# Check with even:
a = [1,2,3,5,8,6,9,7,11]
median_list(a)

6

# 2- from a list of numbers create 2 list , one containing only the even numbers and other only the odd numbers

In [30]:
a = [1,2,3,5,8,6,9,7,11]
lnth = len(a )+1

even_list = [a[i] for i in range(len(a)) if a[i]%2 == 0]
odd_list = [a[i] for  i in range(len(a)) if a[i]%2 != 0]

In [31]:
even_list

[2, 8, 6]

In [32]:
odd_list

[1, 3, 5, 9, 7, 11]

## 3- create a dictionary to store following attributes of CSK 
key "CSK" ; attributes : team full name , captain , playing 11 for each match(name of players), oppenont name (assume there are 3 matches only against MI, RCB , GT ) and result won/loss

In [35]:
team_details = {"CSK": {
    "full_name": "CSK_TIGHER",
    "Captain": "Dhoni",
    "playing_11":
    {
        "match_1": ["Raju","Aryan","Swamy"],
        "match_2": ["Raju","Aryan","Ravi"],
        "match_3": ["Avik","Aryan","Swamy"]
    },
    "Opponent": ["MI","RCB","GT"],
    "Result" : ["Won","Loss","Draw"]

}}

In [36]:
team_details

{'CSK': {'full_name': 'CSK_TIGHER',
  'Captain': 'Dhoni',
  'playing_11': {'match_1': ['Raju', 'Aryan', 'Swamy'],
   'match_2': ['Raju', 'Aryan', 'Ravi'],
   'match_3': ['Avik', 'Aryan', 'Swamy']},
  'Opponent': ['MI', 'RCB', 'GT'],
  'Result': ['Won', 'Loss', 'Draw']}}

In [38]:
team_details["CSK"]["playing_11"]["match_1"][0]

'Raju'

# 4- write a function to take a positive number as input from user. if the user enters negative number then keep prompting him to enter positive number until he enters the positive number and then print the same

In [55]:
def check_positive():
    while True:
        num = int(input("Enter a positive number: "))
        if num > 0:
            print(f"You entered: {num}")
            break
        else:
            print("Please enter a positive number.")

In [59]:
check_positive()

Please enter a positive number.
Please enter a positive number.
Please enter a positive number.
Please enter a positive number.
Please enter a positive number.
You entered: 10

## 5- consider the below list of list conatins following information :

1. The name of a university 

2. The total number of enrolled students

3. The annual tuition fees


universities = [
['California Institute of Technology', 2175, 37704],

['Harvard', 19627, 39849],

['Massachusetts Institute of Technology', 10566, 40732],

['Princeton', 7802, 37000],

['Rice', 5879, 35551],

['Stanford', 19535, 40569],

['Yale', 11701, 40500]
]

write a function to print follwoing information :

1- a list of all the universitites  : ['California Institute of Technology','Harvard',..so on]

2- total number of student entrolled in all the unversities together 

3- mean of tuition fees

In [60]:
universities = [
['California Institute of Technology', 2175, 37704],

['Harvard', 19627, 39849],

['Massachusetts Institute of Technology', 10566, 40732],

['Princeton', 7802, 37000],

['Rice', 5879, 35551],

['Stanford', 19535, 40569],

['Yale', 11701, 40500]
]

In [61]:
universities

[['California Institute of Technology', 2175, 37704],
 ['Harvard', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732],
 ['Princeton', 7802, 37000],
 ['Rice', 5879, 35551],
 ['Stanford', 19535, 40569],
 ['Yale', 11701, 40500]]

### a - a list of all the universitites  : ['California Institute of Technology','Harvard',..so on]

In [66]:
univ_list = [i[0] for i in universities]
univ_list

['California Institute of Technology',
 'Harvard',
 'Massachusetts Institute of Technology',
 'Princeton',
 'Rice',
 'Stanford',
 'Yale']

### b- total number of student entrolled in all the unversities together

In [67]:
universities

[['California Institute of Technology', 2175, 37704],
 ['Harvard', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732],
 ['Princeton', 7802, 37000],
 ['Rice', 5879, 35551],
 ['Stanford', 19535, 40569],
 ['Yale', 11701, 40500]]

In [69]:
s = 0
for i in universities:
    s = s + i[1]
print(s)

77285

### c- mean of tuition fees

In [72]:
s = 0
l = len(universities)
for  i in universities:
    s = s + i[2]
m = s/l
print(f'The mean is: {m}.')

The mean is: 38843.57142857143.

# 6 IMP!!- write a function to convert above universities list to a dictionary. the keys should be the name of the university

eg : {'California Institute of Technology': {"entrolled_students" : 2175 , "fees": 37704} , and so on }

In [75]:
universities = [
['California Institute of Technology', 2175, 37704],

['Harvard', 19627, 39849],

['Massachusetts Institute of Technology', 10566, 40732],

['Princeton', 7802, 37000],

['Rice', 5879, 35551],

['Stanford', 19535, 40569],

['Yale', 11701, 40500]
]

In [76]:
universities

[['California Institute of Technology', 2175, 37704],
 ['Harvard', 19627, 39849],
 ['Massachusetts Institute of Technology', 10566, 40732],
 ['Princeton', 7802, 37000],
 ['Rice', 5879, 35551],
 ['Stanford', 19535, 40569],
 ['Yale', 11701, 40500]]

In [90]:
univ_dict = {}
for uni in universities:
    name = uni[0]
    students  = uni[1]
    fees_univ = uni[2]
    univ_dict[name] = {
        "enrolled_students": students,
        "fees": fees_univ
    }

In [91]:
univ_dict

{'California Institute of Technology': {'enrolled_students': 2175,
  'fees': 37704},
 'Harvard': {'enrolled_students': 19627, 'fees': 39849},
 'Massachusetts Institute of Technology': {'enrolled_students': 10566,
  'fees': 40732},
 'Princeton': {'enrolled_students': 7802, 'fees': 37000},
 'Rice': {'enrolled_students': 5879, 'fees': 35551},
 'Stanford': {'enrolled_students': 19535, 'fees': 40569},
 'Yale': {'enrolled_students': 11701, 'fees': 40500}}

# 7- write a function that finds the largest number in a list(unsorted) of integers without using sort/sorted method.

In [107]:
a = [1,2,44,55,20,11,18,34,22,10]
a

[1, 2, 44, 55, 20, 11, 18, 34, 22, 10]

In [ ]:
## TESTING:
max_num = a[0]  # Initialize with the first element
for i in range(len(a)):
    if a[i] > max_num:
        max_num = a[i]  # Update max if current element is greater

print(f"The largest number is: {max_num}")

The largest number is: 55

In [106]:
def largest_no(x):
    max_num = x[0]
    for i in range(len(x)):
        if x[i] > max_num:
            max_num = x[i]
    return max_num

In [ ]:
largest_no(a)

55

# IMP -8- Write a function get_topper(student_marks) that takes a dictionary where keys are student names and values are their marks. Return the name(s) of the student(s) with the highest marks.
eg:
Input:
{'Ankit': 88, 'Shivansh': 92, 'Riya': 92, 'Soham': 85}
Output: ['Shivansh', 'Riya']

d = {'Ankit': 88, 'Shivansh': 92, 'Riya': 92, 'Soham': 85}
d

In [122]:
d = {'Ankit': 88, 'Shivansh': 92, 'Riya': 92, 'Soham': 85}

In [ ]:
# Testing:
max_marks = 0
students = []
for keys,values in d.items():
    if values > max_marks:
        max_marks = values
for keys,values in d.items():
    if values == max_marks:
        students.append(keys)

### Function:

In [121]:
def highest_scorers(dict):
    max_marks = 0
    students = []
    for keys,values in dict.items():
        if values > max_marks:
            max_marks = values
    for keys,values in dict.items():
        if values == max_marks:
            students.append(keys)
    return students

In [123]:
highest_scorers(d)

['Shivansh', 'Riya']

- the oabove works fine but what if You're initializing max_marks = 0 which can fail if all students scored less than 0 (e.g., negative marks). Not common, but it's safer to use max(dict.values()) directly.

In [135]:
def toppers(dict):
    max_marks = max(dict.values())
    students_list  = []
    for keys,values in dict.items():
        if values == max_marks:
            students_list.append(keys)
    return students_list

In [136]:
toppers(d)

['Shivansh', 'Riya']

#### Accessing the keys of a dictionary

In [137]:
d

{'Ankit': 88, 'Shivansh': 92, 'Riya': 92, 'Soham': 85}

In [138]:
d.keys()

dict_keys(['Ankit', 'Shivansh', 'Riya', 'Soham'])

In [139]:
for a in d.keys():
    print(a)

Ankit
Shivansh
Riya
Soham

#### Accessing the Values:

In [140]:
for a in d.values():
    print(a)

88
92
92
85

In [141]:
max(d.values())

92

# 9 IMP- Write a function that takes a string and returns the number of unique words (case-insensitive).
eg:
# Input: "Python is great and python is fun"
# Output: 5

In [142]:
inp = "Python is great and python is fun"

In [150]:
word_count = []
for i in inp.lower().split():
    if i not in word_count:
        word_count.append(i)
len(word_count)

5

#### Function

In [151]:
def unique_count(inp_str):
    unique_words_list = []
    for word in  inp_str.lower().split():
        if word not in unique_words_list:
            unique_words_list.append(word)
    return len(unique_words_list)

In [152]:
a = "Python is great and python is fun"

In [153]:
unique_count(a)

5

# 10- Given a list of tuples like [(101, 'Keyboard', 799), (102, 'Mouse', 499)], write a function that converts it into a dictionary with product name as key and price as value.

eg:
# Output:
# {'Keyboard': 799, 'Mouse': 499}

#### Testing:

In [162]:
t = [(101, 'Keyboard', 799), (102, 'Mouse', 499)]

In [156]:
for i in t:
    print(i)

(101, 'Keyboard', 799)
(102, 'Mouse', 499)

In [163]:
dict = {}
for i in t:
    keys_name = list(i)[1]
    price = list(i)[2]
    dict[keys_name] = price

In [164]:
dict

{'Keyboard': 799, 'Mouse': 499}

In [165]:
t = [(101, 'Keyboard', 799), (102, 'Mouse', 499)]

#### Function:

In [166]:
def convert_dict(l):
    dict = {}
    for i in l:
        keys = list(i)[1]
        values = list(i)[2]
        dict[keys] = values
    return dict

##### Validation:

In [167]:
convert_dict(t)

{'Keyboard': 799, 'Mouse': 499}

# 11- Write a function that counts word frequency in a paragraph and ignores common stopwords like 'is', 'the', 'a', 'an', 'and'.

In [173]:
a = "I am a boy and I have never been to antartica because it is extremely cold out there.The cold is very very harmful"
a

'I am a boy and I have never been to antartica because it is extremely cold out there.The cold is very very harmful'

In [174]:
unique_list = []
stop_words =  ['is','the','a','an','and']
dic_1 = {}
for w in a.lower().split():
    if w not in unique_list and w not in stop_words:
        unique_list.append(w)
for wd in unique_list:
    dic_1[wd] = a.lower().split().count(wd)
print(dic_1)

{'i': 2, 'am': 1, 'boy': 1, 'have': 1, 'never': 1, 'been': 1, 'to': 1, 'antartica': 1, 'because': 1, 'it': 1, 'extremely': 1, 'cold': 2, 'out': 1, 'there.the': 1, 'very': 2, 'harmful': 1}

#### Counting of a word in a list

In [178]:
a = ['I','I','am','am','there']
a.count('I')

2

In [179]:
a.count('am')

2

In [180]:
a.count('there')

1

#### Function

In [ ]:
def freq_count(s):
    unique_list = []
    stop_words =  ['is','the','a','an','and']
    dic_1 = {}
    for w in s.lower().split():
        if w not in unique_list and w not in stop_words:
            unique_list.append(w)
        for wd in unique_list:
            dic_1[wd] = s.lower().split().count(wd)
    print(dic_1)

#### testing:

In [183]:
a = "I am a boy and I have never been to antartica because it is extremely cold out there.The cold is very very harmful"

In [184]:
freq_count(a)

{'i': 2, 'am': 1, 'boy': 1, 'have': 1, 'never': 1, 'been': 1, 'to': 1, 'antartica': 1, 'because': 1, 'it': 1, 'extremely': 1, 'cold': 2, 'out': 1, 'there.the': 1, 'very': 2, 'harmful': 1}

# 12- You're given a dictionary like:

{
  'Ankit': ('Python',),

  'Riya': ('Python', 'Tableau'),

  'Soham': ('SQL', 'Power BI'),

  'Neha': ('Python', 'SQL', 'Power BI')
}


Write a function that returns:
 
a set of all unique courses and names of students enrolled in exactly 2 courses

In [186]:
dict_2 = {
  'Ankit': ('Python',),

  'Riya': ('Python', 'Tableau'),

  'Soham': ('SQL', 'Power BI'),

  'Neha': ('Python', 'SQL', 'Power BI')
}

In [187]:
dict_2

{'Ankit': ('Python',),
 'Riya': ('Python', 'Tableau'),
 'Soham': ('SQL', 'Power BI'),
 'Neha': ('Python', 'SQL', 'Power BI')}

In [192]:
def give_details(d):
    a = []
    for c in dict_2.values():
        for i in c:
            if i not in a:
                a.append(i)
    names = []
    for key, value in dict_2.items():
        if len(list(value)) == 2:
            names.append(key)
    print(f'Unique course list : {set(a)}')
    print(f'Students enrolled in 2 courses: {set(names)}')

In [193]:
give_details(dict_2)

Unique course list : {'SQL', 'Tableau', 'Python', 'Power BI'}
Students enrolled in 2 courses: {'Soham', 'Riya'}

In [194]:
give_details(dict_2)

Unique course list : {'SQL', 'Tableau', 'Python', 'Power BI'}
Students enrolled in 2 courses: {'Soham', 'Riya'}

# 13- Write a function that takes a list of words and groups them into anagrams using dictionary.

# Input: ['listen', 'silent', 'enlist', 'rat', 'tar', 'art']

# Output:
# {
#   'eilnst': ['listen', 'silent', 'enlist'],
#   'art': ['rat', 'tar', 'art']
# }

# 14- Write a function most_frequent_char(s) that takes a string and returns the character that appears the most (excluding spaces).

eg:

Input: "welcome to python"

Output: 'o'

In [202]:
s = "welcome to python"

In [206]:
s.split()

['welcome', 'to', 'python']

In [207]:
t = [l for l in s]
t

['w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [210]:
u = []
d = {}
t = [l for l in s]
for i in s:
    if i not in u and i != ' ':
        u.append(i)
for i in u:
    d[i] = t.count(i)
for key,value in d.items():
    if value == max(d.values()):
        print(f'The maximum occuring letter is: {key} with freq of {value}')

The maximum occuring letter is: o with freq of 3

In [204]:
u

['w', 'e', 'l', 'c', 'o', 'm', 't', 'p', 'y', 'h', 'n']

In [211]:
def count_max_char(s):
    u = []
    d = {}
    t = [l for l in s]
    for i in s:
        if i not in u and i != ' ':
            u.append(i)
    for i in u:
        d[i] = t.count(i)
    for key,value in d.items():
        if value == max(d.values()):
            print(f'The maximum occuring letter is: {key} with a freq of {value}')

In [212]:
s = "welcome to python"
count_max_char(s)

The maximum occuring letter is: o with a freq of 3

# 15- Write a function that takes a list of numbers and returns a dictionary with keys "min" and "max".
eg:
# Input: [5, 2, 8, 1, 9]
# Output: {'min': 1, 'max': 9}

In [217]:
i = [5, 2, 8, 1, 9]

In [219]:
def dict_convert(l):
    m = min(l)
    ma = max(l)
    d = {}
    d["min"] = m
    d["max"] = ma
    return d

In [220]:
dict_convert(i)

{'min': 1, 'max': 9}

# 16- You have a dictionary with student names and a list of their marks.

marks = {

    'Ankit': [80, 90, 85],

    'Riya': [70, 60, 75],
    
    'Soham': [88, 92, 90]
}
Write a function to return names of students whose average is above 80.

Output: ['Ankit', 'Soham']

In [221]:
marks = {

    'Ankit': [80, 90, 85],

    'Riya': [70, 60, 75],
    
    'Soham': [88, 92, 90]
}

In [225]:

d = {}
s = []
for keys,values in marks.items():
    d[keys] = sum(values)/len(values)
for keys,values in d.items():
    if values >= 80:
        s.append(keys)
s

['Ankit', 'Soham']

In [226]:
def ret_stu(d):
    di = {}
    s = []
    for keys,values in d.items():
        di[keys] = sum(values)/len(values)
    for keys,values in di.items():
        if values >= 80:
            s.append(keys)
    return s

In [227]:
marks = {

    'Ankit': [80, 90, 85],

    'Riya': [70, 60, 75],
    
    'Soham': [88, 92, 90]
}
ret_stu(marks)

['Ankit', 'Soham']